<% form_tag(sessions_path) do %>
<!--  <label for="openid_url">OpenIDアカウント名を入力してください:</label>
  <%= text_field_tag "openid_url" %>
  -->
  <%= submit_tag 'Google', :disable_with => "Signing in…" %>
<% end %>

